{% extends "layout.html" %}

{% block title %}MusicDB - Artist-Dashboard{% endblock %}

{% block dbstatus %}{{ dbstatus }}{% endblock %}

{% block content %}
    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
        {% for category, message in messages %}
        <div class="alert alert-{{ category }}">{{ message }}</div>
        {% endfor %}
    {% endif %}
    {% endwith %}
{% if artist.artist %} 
    <h1>{{ artist.artist }}</h1>
    {% for album in albums %}
        <h3>album.al_title</h3>
        <p>album.year</p>
        <p>album.artist</p>
    {% endfor %}
{% else %}
    <div class="register-artist-container" id="register_artist">
        <form action="/insert_artist" method = "post">
            <h1>Register as Artist to MusicDB</h1>
            <div class="input-box">
                <input type="text" name="artist_name" placeholder="Artist Name" required>
                <img src="../static/images/user-interface.png" alt="Username Icon" class="input-icon">
            </div>
            <button type="submit" class="btn">Register</button>
        </form>
    </div>
{% endif %}
{% endblock %}

