{% extends "layout.html" %}

{% block title %}MusicDB - Home{% endblock %}

{% block dbstatus %}{{ dbstatus }}{% endblock %}

{% block content %}
<h1>Hello {{name}}!</h1>  
<h2>Welcome to MusicDB!</h2>

<div class="about-wrapper"></div>
<section class="about-description">
    <h1>Your Playlists</h1>
  
    <div class="playlist-container">

        <!-- Create New Playlist -->
        <form action="/create_playlist" method="POST" class="about-wrapper">
            <div class="input-box">
                <input type="text" name="p_name" placeholder="New Playlist Name" required>
            </div>
            <button type="submit" class="btn">Create Playlist</button>
        </form>
    
        <!-- Add Song to Playlist -->
        <form action="/add_song_to_playlist" method="POST" class="about-wrapper">
            <div class="input-box">
                <input type="text" name="p_name" placeholder="Playlist Name" required>
            </div>
            <div class="input-box">
                <input type="text" name="name" placeholder="Song Name" required>
            </div>
            <button type="submit" class="btn">Add Song to Playlist</button>
        </form>
    
        <!-- Remove Song from Playlist -->
        <form action="/remove_song_from_playlist" method="POST" class="about-wrapper">
            <div class="input-box">
                <input type="text" name="p_name" placeholder="Playlist Name" required>
            </div>
            <div class="input-box">
                <input type="text" name="name" placeholder="Song Name" required>
            </div>
            <button type="submit" class="btn">Remove Song from Playlist</button>
        </form>
    
    </div>
    
  </section>  
{% endblock %}