<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About - MusicDB</title>
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>
    <div class="wrapper">
        <!-- Navigation Section -->
        <nav class="nav">
            <div class="nav-menu">
                <ul>
                    <li><a href="{{ url_for('home') }}" class="link">Home</a></li>
                    <li><a href="view.html" class="link">View</a></li>
                    <li><a href="account.html" class="link">Account</a></li>
                    <li><a href="{{ url_for('about') }}" class="link">About</a></li>
                    
                </ul>
                
                
            </div>
            <div class="nav-button">
                <form id="logout-form" action="{{ url_for('logout') }}" method="POST">
                    <button type="submit" class="btn">Logout</button>
                </form>
            </div>
            
            <div class="db-status">
                
                <span>{{ dbstatus }}</span>
            </div>
        </nav>
        <div class="about-wrapper">
            <section class="about-description">
                <h1>Welcome {{name}}!</h1>
                
               
            </section>
        
    </div>
</div>
</body>
</html>
