<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MusicDB</title>
    <link rel="stylesheet" href="../static/style.css">  
</head>
<body>
    <div class="wrapper">
        <!-- Navigation Section -->
        <nav class="nav">
            <div class="nav-menu">
                <ul>
                    <li><a href="#" class="link">Home</a></li>
                    <li><a href="#" class="link">View</a></li>
                    <li><a href="#" class="link">Account</a></li>
                    <li><a href="about.html" class="link">About</a></li>
                </ul>
            </div>
            <div class="nav-button">
                <!-- The nav buttons trigger the sliding functions -->
                <button id="loginNavBtn" onclick="showLogin()">Login</button>
                <button id="registerNavBtn" onclick="showRegister()">Register</button>
            </div>
            <div class="db-status">
                <span>{{ dbstatus }}</span>
            </div>
        </nav>

        <!-- Forms Container -->
        <div class="forms">
            <!-- Login Form -->
            <div class="login-container" id="login">
                <form action="">
                    <h1>Welcome to MusicDB</h1>
                    <div class="input-box">
                        <input type="text" placeholder="Username" required>
                        <img src="../static/images/user-interface.png" alt="Username Icon" class="input-icon">
                    </div>
                    <div class="input-box">
                        <input type="password" placeholder="Password" required>
                        <img src="../static/images/lock.png" alt="Password Icon" class="input-icon">
                    </div>
                    <button type="submit" class="btn">Login</button>
                    <!-- to switch to registration -->
                    <div class="register link">
                        <span>Don't have an account? <a href="#" onclick="showRegister()">Register</a></span>
                    </div>
                </form>
            </div>

            <!-- Registration Form -->
            <div class="register-container" id="register">
                <form action="">
                    <h1>Register to MusicDB</h1>
                    <div class="input-box">
                        <input type="text" placeholder="Username" required>
                        <img src="../static/images/user-interface.png" alt="Username Icon" class="input-icon">
                    </div>
                    <div class="input-box">
                        <input type="password" placeholder="Password" required>
                        <img src="../static/images/lock.png" alt="Password Icon" class="input-icon">
                    </div>
                    <button type="submit" class="btn">Register</button>

                    <!-- to switch to login -->
                    <div class="login link">
                        <span>Have an account? <a href="#" onclick="showLogin()">Login</a></span>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <!-- JavaScript Section for form animations -->
    <script>

        const loginForm = document.getElementById("login");
        const registerForm = document.getElementById("register");


        function showLogin() {
            loginForm.style.left = "0";
            registerForm.style.left = "100%";
        }

        function showRegister() {
            loginForm.style.left = "-100%";
            registerForm.style.left = "0";
        }
    </script>
</body>
</html>
